body{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 63, 63);
    color: #88bac8;
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

nav{
    display: flex;
    background-color: rgb(109, 197, 226);
    height: 50px;
}

.nav-item{
    display: grid;
    place-items: center;
    margin: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4d869b;
    cursor: pointer;
    &:hover{
        color: rgba(55, 55, 206, 0.747);
    }
}

.card{
    display: block;
    position: relative;
    margin: 20px;
    width: fit-content;
    height: max-content;
    background-color: #333a57;
    border-radius: 15px;
    padding: 5px;
}

.card-footer{
    display: flex;
    justify-content: center;
}

.card-footer>.btn{
    margin: 5px;
    padding: 5px;
    background-color: rgb(55, 55, 206);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    &:hover{
        background-color: rgba(55, 55, 206, 0.747);
    }
}

.card-header{
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-body{
    padding: 0 10px;
    max-width: 20rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form-control{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.form>.btn{
    background-color: rgb(55, 55, 206);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    &:hover{
        background-color: rgba(55, 55, 206, 0.747);
    }
}